BasedOnStyle: LLVM

Standard: c++11

UseTab: Never
IndentWidth: 4
TabWidth: 4

BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 0
AccessModifierOffset: -4